html, body {
	margin: 0;
	padding: 0;
	height: min-content;
	width: min-content;
	background: radial-gradient(antiquewhite, rgb(228, 202, 177));
}

/* desktop-main {
	height: 100vh;
	width: 100vw;
} */
